<main>
    <h1>Create your password.</h1>
        <h2>Such password must contain 8 characters (letters, numbers or special symbols).</h2>
        <h2>Mix types for making your password stronger!</h2>
    <input type="password" (input)="verifyPassword($event)">
    <app-password-validation-box color={{color1}} content="Only one type (Weak)"></app-password-validation-box>
    <app-password-validation-box color={{color2}}  content="Two types (Medium)"></app-password-validation-box>
    <app-password-validation-box color={{color3}}  content="Three types (Strong)"></app-password-validation-box>
</main>
